<br>
<h1>Information Customer</h1>
<form [formGroup]="registerFormReactive" (ngSubmit)="createRegisterWithReactive()">
  <div class="content">
    <div class="form-group">
      <label>Id</label>
      <input formControlName="id" name="id" type="number" class="form-control"
             placeholder="Enter id">
      <p style="color: red"
         *ngIf="registerFormReactive.controls.id.hasError('min')">Id ko
        duoc nho hon 0</p>
      <p style="color: red"
         *ngIf="registerFormReactive.controls.id.hasError('required') && registerFormReactive.controls.id.touched">id ko
        duoc de trong</p>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input formControlName="email" name="email" type="text" class="form-control"
             placeholder="Enter name">
      <p style="color: red"
         *ngIf="registerFormReactive.controls.email.hasError('required') && registerFormReactive.controls.email.touched">
        Ko
        duoc de trong</p>
      <p style="color: red" *ngIf="registerFormReactive.controls.email.hasError('pattern')">Email ko dung dinh dang</p>
    </div>
    <div formGroupName="pass">
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" formControlName="password" placeholder="Enter password">
        <p *ngIf="registerFormReactive.controls.pass.get('password').hasError('required') && registerFormReactive.controls.pass.get('password').touched">ko dc bo trong</p>
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword" placeholder="Enter confirm password">
        <p *ngIf="registerFormReactive.controls.pass.get('password').hasError('required') && registerFormReactive.controls.pass.get('confirmPassword').touched">ko dc bo trong</p>
        <p *ngIf="registerFormReactive.controls.pass.hasError('invalidConfirmPassword') && registerFormReactive.controls.pass.touched">mat khau
          nhap lai ko giong </p>
      </div>
    </div>

    <div class="form-group">
      <label>Age</label>
      <input formControlName="age" name="age" type="number" class="form-control"
             placeholder="Enter Age">
      <p style="color: red"
         *ngIf="registerFormReactive.controls.age.hasError('required') && registerFormReactive.controls.age.touched">Ko
        duoc de trong</p>
      <p style="color: red"
         *ngIf="registerFormReactive.controls.age.hasError('min')">tuoi ko
        duoc nho hon 18</p>
    </div>
    <div class="form-group">
      <label>Country</label>
      <select formControlName="country" name="country" class="form-control">
        <option value="" disabled selected>Choose Country</option>
        <option value="VietNam">VietNam</option>
        <option value="USA">USA</option>
        <option value="China">China</option>
        <option value="Laos">Laos</option>
        <option value="Cambodia">Cambodia</option>
        <option value="Russia">Russia</option>
      </select>
      <p style="color: red"
         *ngIf="registerFormReactive.controls.country.hasError('required') && registerFormReactive.controls.country.touched">
        Ko
        duoc de trong</p>
    </div>
    <div class="form-group">
      <label>Gender</label>
      <br>
      <input type="radio" value="Male" name="gender" formControlName="gender">Male
      <input type="radio" value="Female" name="gender" formControlName="gender">Female
      <p style="color: red"
         *ngIf="registerFormReactive.controls.gender.hasError('required') && registerFormReactive.controls.gender.touched">
        Ko
        duoc de trong</p>
    </div>
    <div class="form-group">
      <label>Phone Number</label>
      <input formControlName="phone" name="phone" type="text" class="form-control"
             placeholder="Enter Phone Number">
      <p style="color: red"
         *ngIf="registerFormReactive.controls.phone.hasError('required') && registerFormReactive.controls.phone.touched">
        Ko
        duoc de trong</p>
      <p style="color: red"
         *ngIf="registerFormReactive.controls.phone.hasError('pattern')">phone ko
        dung dinh dang</p>
    </div>
    <div>
      <button type="submit" class="btn btn-warning">Add</button>
    </div>
  </div>
</form>

