<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout ::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Blog</h3>
<table id="blog">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Content</th>
        <th>Note</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${blogPage}">
        <th th:text="${row.id}"></th>
        <th th:text="${row.name}"></th>
        <th th:text="${row.content}"></th>
        <th th:text="${row.note}"></th>
        <th th:text="${row.category.getName()}"></th>
        <th>delete</th>
        <th>edit</th>

    </tr>
    </tbody>
</table>
<footer th:replace="/layout ::footer"></footer>
</body>
</html>