<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout ::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>View book</h3>
<p>
    <a th:href="@{/book}">
        Back to book list
    </a>
</p>
<div id="detail">
    <div>
        <label>Name: </label>
        <label th:text="${book.name}"></label>
    </div>
    <div>
        <label>Author: </label>
        <label th:text="${book.author}"></label>
    </div>
    <div>
        <label>Quantity: </label>
        <label th:text="${book.quantity}"></label>
    </div>
    <div>
        <label>BookType: </label>
        <label th:text="${book.bookType.name}"></label>
    </div>
</div>
<footer th:replace="/layout ::footer"></footer>
</body>
</html>