<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/views/layout ::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="/views/layout ::header"></header>
<div class="main">
    <br> <br> <br> <br>
    <p style="color: blue" th:text="${msg}"></p>
        <a th:href="@{/customer/create}" class="btn btn-secondary">Add customer</a>
    <br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="col-1">#</th>
            <th class="col-2">Name</th>
            <th class="col-2">Date Of Birth</th>
            <th class="col-2">Gender</th>
            <!--        <th class="col-1">ID Card</th>-->
            <!--        <th class="col-1">Phone Number</th>-->
            <!--        <th class="col-1">Email</th>-->
            <!--        <th class="col-1">Address</th>-->
            <th class="col-3">Customer Type</th>
            <th class="col-1">Edit</th>
            <th class="col-1">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row,loop: ${customerPage}">
            <td th:text="${loop.count+customerPage.number * customerPage.size}"></td>
            <td><a th:href="@{/customer/{id}/views(id=${row.getId()})}" class="one">
                <th:block th:text="${row.getName()}"></th:block>
            </a></td>
            <td th:text="${row.getDateOfBirth()}"></td>
            <td th:text="${row.gender==0?'Nam':'Nữ'}"></td>
            <!--        <td th:text="${row.getIdCard()}"></td>-->
            <!--        <td th:text="${row.getPhoneNumber()}"></td>-->
            <!--        <td th:text="${row.getEmail()}"></td>-->
            <!--        <td th:text="${row.getAddress()}"></td>-->
            <td th:text="${row.getCustomerType().getName()}"></td>
            <td><a th:href="@{/customer/{id}/edit(id=${row.getId()})}" class="btn btn-primary">Edit</a></td>
            <!--        <td><a th:href="@{/customer/delete(id=${row.getId()})}" class="btn btn-danger">delete</a></td>-->
            <td><!-- Button trigger modal -->
                <!--      th:attr="onclick=|upload('${gallery}')|"-->
                <button th:attr="onclick=|deleteModal(${row.id},'${row.name}')|" type="button" class="btn btn-danger"
                        data-toggle="modal"
                        data-target="#exampleModal">
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">DELETE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/customer/delete" method="post">
                    <div class="modal-body">
                        Are you sure delete <span id="nameDelete" class="two"></span>?
                        <!--iddelete la o duoi cho function, name= id de co id xoa-->
                        <input type="hidden" id="idDelete" name="id">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item ">
                <a class="page-link" th:if="${customerPage.hasPrevious()}"
                   th:href="@{/customer/(page=${customerPage.number - 1},keyword=${keywordVal})}">Previous</a>
            </li>
            <li class="page-item active"
                th:each="i: ${#numbers.sequence(1, customerPage.totalPages)}">
                <a class="page-link" th:if=" ${customerPage.number !=i}" th:href="@{'/customer/?page=' + ${i - 1}}">[[${i}]]</a>
            </li>
            <li class="page-item">
                <a class="page-link" th:if="${customerPage.hasNext()}"
                   th:href="@{/customer/(page=${customerPage.number + 1},keyword=${keywordVal})}">Next</a>
            </li>
        </ul>
    </nav>
</div>
<footer th:replace="/views/layout ::footer"></footer>
</body>
<script>
    function deleteModal(id, name) {
        $("#idDelete").val(id);
        $("#nameDelete").text(name);
    }
</script>
</html>


