<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
<body>
<h3>Add Customer</h3>
<p>
    <a th:href="@{/customer}">
        Back to customer list
    </a>
</p>
<p style="color: red" th:text="${mess}"></p>
</body>
<div id="form">
    <form th:action="@{/customer/save}" th:object="${customer}"
          method="POST" novalidate="novalidate">
        <table class="table table-hover table-dark">
            <tr>
                <th>Code</th>
                <td><input type="text" th:field="*{code}"></td>
            </tr>
            <tr>
                <th>Name</th>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <th>CustomerType</th>
                <td>
                    <select th:field="*{customerType}">
                        <option th:each="customerType : ${customerTypeList}" th:value="${customerType.id}"
                                th:text="${customerType.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>dateOfBirth</th>
                <td><input type="date" th:field="*{dateOfBirth}"></td>
            </tr>
            <tr>
                <th>gender</th>
                <td>
                    <select name="gender">
                        <option th:value="0">Nam</option>
                        <option th:value="1">Nữ</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>idCard</th>
                <td><input type="text" th:field="*{idCard}"></td>
            </tr>
            <tr>
                <th>phone</th>
                <td><input type="text" th:field="*{phone}"></td>
            </tr>
            <tr>
                <th>email</th>
                <td><input type="text" th:field="*{email}"></td>
            </tr>
            <tr>
                <th>address</th>
                <td><input type="text" th:field="*{address}"></td>
            </tr>

            <tr>
                <th></th>
                <td><input type="submit" value="Save"/></td>
            </tr>
        </table>
    </form>
</div>

</html>