<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
<body>
<h3>Add Contract</h3>
<p>
    <a th:href="@{/contract}">
        Back to contract list
    </a>
</p>
<p style="color: red" th:text="${mess}"></p>
</body>
<div id="form">
    <form th:action="@{/contract/save}" th:object="${contract}"
          method="POST" novalidate="novalidate">
        <table class="table table-hover table-dark">
            <tr>
                <th>startDate</th>
                <td><input type="date" th:field="*{startDate}"></td>
            </tr>
            <tr>
                <th>endDate</th>
                <td><input type="date" th:field="*{endDate}"></td>
            </tr>
            <tr>
                <th>deposit</th>
                <td><input type="text" th:field="*{deposit}"></td>
            </tr>
            <tr>
                <th>totalMoney</th>
                <td><input type="text" th:field="*{totalMoney}"></td>
            </tr>
            <tr>
                <th>employeeName</th>
                <td>
                    <select th:field="*{employee}">
                        <option th:each="employee : ${employeeList}" th:value="${employee.id}"
                                th:text="${employee.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>customerName</th>
                <td>
                    <select th:field="*{customer}">
                        <option th:each="customer : ${customerList}" th:value="${customer.id}"
                                th:text="${customer.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>serviceName</th>
                <td>
                    <select th:field="*{service}">
                        <option th:each="service : ${serviceList}" th:value="${service.id}"
                                th:text="${service.name}"></option>
                    </select>
                </td>
            </tr>

            <tr>
                <th></th>
                <td><input type="submit" value="Save"/></td>
            </tr>
        </table>
    </form>
</div>

</html>