<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout ::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Song</h3>
<p>
    <a th:href="@{/song/create}">Add Song</a>
</p>
<form >
    <input type="text" name="keyword">
    <input type="submit" value="search">
</form>

<p style="color: red" th:text="${mess}"></p>
<table class="table">
    <thead class="table-dark"></thead>
    <tbody></tbody>
</table>
<table id="blogs">
    <thead>
    <tr>
        <th class="col-1">Id</th>
        <th class="col-1">name</th>
        <th class="col-1">singer</th>
        <th class="col-2">kindOfMusic</th>
        <th class="col-5">filePath</th>
        <th class="col-1">Edit</th>
        <th class="col-1">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${songPage}">
        <td th:text="${row.getId()}"></td>
        <td><a th:href="@{/song/{id}/view(id=${row.getId()})}">
            <th:block th:text="${row.getName()}"></th:block>
        </a></td>
        <td th:text="${row.getSinger()}"></td>
        <td th:text="${row.getKindOfMusic()}"></td>
        <td th:text="${row.getFilePath()}"></td>
        <td><a th:href="@{/song/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/song/delete(id=${row.getId()})}">delete</a></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:if="${songPage.hasPrevious()}"
       th:href="@{/song/(page=${songPage.number - 1})}">
        Previous
    </a>
    <span th:text="${songPage.number + 1}"></span>
    /
    <span th:text="${songPage.totalPages}"></span>
    <a th:if="${songPage.hasNext()}"
       th:href="@{/song/(page=${songPage.number + 1})}">
        Next
    </a>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>

