<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/views/layout ::head">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="/jquery-3.6.0.min.js"></script>
</head>
<body>
<header th:replace="/views/layout ::header"></header>
<br> <br> <br> <br>
<h1>Information room</h1>
<div class="content">
    <form th:action="@{/room/update}" th:object="${room} "
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <label>Room Code</label>
            <input type="text" class="form-control" th:field="*{roomCode}"
                   placeholder="Enter name">
        </div>
        <div class="form-group">
            <label>Room Area</label>
            <input type="number" class="form-control" th:field="*{area}"
                   placeholder="Enter area">
        </div>
        <div class="form-group">
            <label>Cost</label>
            <input type="text" class="form-control" th:field="*{cost}"
                   placeholder="Enter cost">
        </div>
        <div class="form-group">
            <label>Status</label>
            <input type="text" class="form-control" th:field="*{status}"
                   placeholder="Enter Status">
        </div>
        <div>
            <a th:href="@{/room}" class="btn btn-dark">
                Back to room list
            </a>
            <button type="submit" class="btn btn-primary">Edit</button>
        </div>
    </form>
</div>
</body>
</html>