<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="https://furamavietnam.com/">
        <img src="https://gohola.vn/uploads/2015/02/furama.gif"
             width="50" height="60"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/employee}">Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/customer}">Customer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/service}">Service</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/attachService}">CustomerUsingService</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                    Contract
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/contract}">Contract</a>
                    <a class="dropdown-item" th:href="@{/contractDetail}" >Contract Detail</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-expanded="false">
                    Setting
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" th:href="@{/contract}">User info</a>
                    <a class="dropdown-item" th:href="@{/contractDetail}" >Admin</a>
                    <a  class="dropdown-item" th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<p>

</p>
<form>
<!--    <input type="text" name="keyword">-->
<!--    <input type="submit" value="search" class="btn btn-primary">-->
    <a th:href="@{/contractDetail/create}" class="btn btn-secondary">Add Contract Detail</a>
</form>
<br>
<table class="table table-hover table-dark">
    <thead>
    <tr>
        <th class="col-2">Id</th>
        <th class="col-3">contractId</th>
        <th class="col-3">attachServiceName</th>
        <th class="col-2">quantity</th>
        <th class="col-1">Edit</th>
        <th class="col-1">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${contractDetailPage}">
        <td th:text="${row.getId()}"></td>
        <td th:text="${row.getContract().getId()}"></td>

        <td th:text="${row.getAttachService().getName()}"></td>
        <td th:text="${row.getQuantity()}"></td>
        <td><a th:href="@{/contractDetail/{id}/edit(id=${row.getId()})}" class="btn btn-warning">edit</a></td>
        <td><a th:href="@{/contractDetail/delete(id=${row.getId()})}" class="btn btn-danger">delete</a></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:if="${contractDetailPage.hasPrevious()}"
       th:href="@{/contractDetail/(page=${contractDetailPage.number - 1})}" class="btn btn-info">
        Previous
    </a>
    <span th:text="${contractDetailPage.number + 1}"></span>
    /
    <span th:text="${contractDetailPage.totalPages}"></span>
    <a th:if="${contractDetailPage.hasNext()}"
       th:href="@{/contractDetail/(page=${contractDetailPage.number + 1})}" class="btn btn-success">
        Next
    </a>
</div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
<script>

