<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
<h3>Contract Detail</h3>
<p>
    <a th:href="@{/contractDetail/create}">Add Contract Detail</a>
</p>
<p style="color: red" th:text="${mess}"></p>
<form>
    <input type="text" name="keyword">
    <input type="submit" value="search">
</form>

<table class="table table-hover table-dark">
    <thead>
    <tr>
        <th class="col-2">Id</th>
        <th class="col-3">contractId</th>
        <th class="col-3">attachServiceName</th>
        <th class="col-2">quantity</th>
        <th class="col-1">Edit</th>
        <th class="col-1">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${contractDetailPage}">
        <td th:text="${row.getId()}"></td>
        <td th:text="${row.getContract().getId()}"></td>

        <td th:text="${row.getAttachService().getName()}"></td>
        <td th:text="${row.getQuantity()}"></td>
        <td><a th:href="@{/contractDetail/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/contractDetail/delete(id=${row.getId()})}">delete</a></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:if="${contractDetailPage.hasPrevious()}"
       th:href="@{/contractDetail/(page=${contractDetailPage.number - 1})}">
        Previous
    </a>
    <span th:text="${contractDetailPage.number + 1}"></span>
    /
    <span th:text="${contractDetailPage.totalPages}"></span>
    <a th:if="${contractDetailPage.hasNext()}"
       th:href="@{/contractDetail/(page=${contractDetailPage.number + 1})}">
        Next
    </a>
</div>
</body>
</html>

