
<div id="menu">
  <div class="container bg-light" >

    <div class="row col-lg-12 management">

      <div  class=" col-lg-8 ">
        <h2 id="suaMonMoi"  class="text-success" style="text-align: center">Thêm Món Mới</h2>
        <form [formGroup]="formDish" (ngSubmit)="createDish()" *ngIf="formDish">

          <div class="row g-3">
            <div class="col-sm-6">
              <label class="form-label">Tên món <span class="complain"> * </span>  <span class="form-label"> :</span></label>
              <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-mug-hot"></i></span>
                <input type="text" class="form-control" placeholder="vd: Cà Phê Muối" formControlName="name"
                       name="name">
              </div>
              <div class="validate">
                <p style="color: red" *ngIf="formDish.controls.name.hasError('required') && formDish.controls.name.touched">Tên món không được để trống. </p>
                <p style="color: red" *ngIf="formDish.controls.name.hasError('minlength') && formDish.controls.name.touched">Tên món phải nhiều hơn 5 chữ cái. </p>
              </div>
            </div>

<!--            <div class="col-sm-6">-->
<!--              <label class="form-label">Loại Món <span class="complain"> * </span>  <span class="form-label"> :</span></label>-->
<!--                <div class="input-group mb-3">-->
<!--                  <span class="input-group-text"><i class="fa-solid fa-align-justify"></i></span>-->
<!--                  <select class="form-select" formControlName="dishType" name="dishType">-->
<!--                    <option selected><-&#45;&#45;&#45;&#45;Chọn Loại Món-&#45;&#45;&ndash;&gt;</option>-->
<!--                    <option *ngFor="let item of dishTypeList" [ngValue]="item"> {{item.name}}</option>-->
<!--                  </select>-->
<!--                </div>-->

<!--              <div class="validate">-->
<!--                <p style="color: red" *ngIf="formDish.controls.dishType.hasError('required') && formDish.controls.dishType.touched">Nhóm món không được để trống. </p>-->
<!--              </div>-->
<!--            </div>-->

            <div class="col-sm-6">
              <label class="form-label">Loại Món <span class="complain"> * </span> <span
                class="form-label"> :</span></label>
              <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-align-justify"></i></span>
                <select class="form-select" formControlName="dishType" name="dishType">
                  <option id="opt" value="">Vui Lòng Chọn </option>
                  <option *ngFor="let item of dishTypeList" [ngValue]="item"> {{item.name}}</option>
                </select>
              </div>

              <div class="validate">
                <p style="color: red"
                   *ngIf="formDish.controls.dishType.hasError('required') && formDish.controls.dishType.touched">Nhóm
                  món không được để trống. </p>
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label">Mã Số Món <span class="complain"> * </span>  <span class="form-label"> :</span></label>
              <div class="input-group mb-3">
                <span class="input-group-text"> <i class="fa-solid fa-qrcode"></i></span>
                <input type="text" class="form-control" placeholder="vd: CF123" formControlName="code"
                       name="code">
              </div>
              <div class="validate">
                <p style="color: red" *ngIf="formDish.controls.code.hasError('required') && formDish.controls.code.touched">Mã số món không được để trống. </p>
                <p style="color: red" *ngIf="formDish.controls.code.hasError('minlength') && formDish.controls.code.touched">Mã số món phải nhiều hơn 3 chữ cái. </p>
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label">Giá (VNĐ) <span class="complain"> * </span>  <span class="form-label"> :</span> </label>
              <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
                <input type="text" class="form-control" placeholder="Vd: 10000" formControlName="price"
                       name="price">
              </div>
              <div class="validate">
                <p style="color: red" *ngIf="formDish.controls.price.hasError('required') && formDish.controls.price.touched">Giá không được để trống. </p>
                <p style="color: red" *ngIf="formDish.controls.price.hasError('min') && formDish.controls.price.touched">Giá phải lớn hơn 5000. </p>
              </div>

            </div>




            <div class="col-sm-6">
              <label class="form-label">Ảnh món <span class="complain"> * </span>  <span class="form-label"> :</span></label>
                <div class="input-group mb-3">
                  <span class="input-group-text"><i class="fa-solid fa-image"></i></span>
                  <input id="avata" formControlName="image" name="image"
                         type="file" #fileUploader (change)="showPreview($event)" class="form-control"/>
                </div>
              <div class="validate">
                <p style="color: red" *ngIf="formDish.controls.image.hasError('required') && formDish.controls.image.touched">Ảnh không được để trống. </p>
              </div>

            </div>


            <div class="col-sm-6">
              <div class=" form-outline mb-4">
                <img  [src]="imgSrc"  id="img" style="height: 100%; width: 100%; display: none " (click)="fileUploader.click()" >
              </div>
            </div>

          </div>

          <hr>
          <div class="row" style="padding-bottom: 20px">
            <div class="col-4">
              <button type="button"routerLink="/dish" class="w-10 btn btn-danger col-sm-10" ><i class="fa-solid fa-delete-left"></i> Hủy
              </button>
            </div>
            <div class="col-4">
              <button type="button" (click)="resetForm()" class="w-10 btn btn-warning col-sm-10" ><i class="fa-solid fa-rotate-left"></i> Xóa Biểu Mẫu
              </button>
            </div>
            <div class="col-4">
              <button type="submit" class="w-10 btn btn-success col-sm-10"><i class="fa-solid fa-cart-plus"></i> Thêm</button>
            </div>
          </div>
        </form>
      </div>

      <div id="logo" class=" col-lg-4 order-md-last form">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-success">Coffee Market</span>
        <span class="badge bg-success rounded-pill">$</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div>
            <h6 class="my-0">Vietnamese</h6>
            <small class="text-muted">Smart Coffee</small>
          </div>
          <span class="text-muted">$1000</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div>
            <h6 class="my-0">US-UK</h6>
            <small class="text-muted">Smart Coffee</small>
          </div>
          <span class="text-muted">$1000</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div>
            <h6 class="my-0">America</h6>
            <small class="text-muted">Smart Coffee</small>
          </div>
          <span class="text-muted">$1600</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div>
            <h6 class="my-0">China</h6>
            <small class="text-muted">Smart Coffee</small>
          </div>
          <span class="text-muted">$1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-light">
          <div class="text-success">
            <h6 class="my-0">C0222G2</h6>
            <small>Smart Coffee</small>
          </div>

          <span class="text-success">$10000</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (USD)</span>
          <strong>$2000</strong>
        </li>
      </ul>

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search market">
        <button type="submit" class="btn btn-outline-secondary">Search</button>
      </div>
    </div>
    </div>
  </div>
</div>

