<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" routerLink="/home">Trang chủ</a>
        <a class="breadcrumb-item text-dark" routerLink="/book/management">Quản lí sách</a>
        <span class="breadcrumb-item active">Thống kê</span>
      </nav>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<h1>Thống kê sách</h1>
<div id="divChart">
  <canvas id="myChart"></canvas>
</div>

