<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/views/layout ::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="/views/layout ::header"></header>
<div class="main">
    <br> <br> <br> <br>
    <p style="color: blue" th:text="${msg}"></p>
    <a th:href="@{/service/create}" class="btn btn-secondary">Add Service</a><br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="col-1">#</th>
            <th class="col-2">Name</th>
            <th class="col-1">Area</th>
            <th class="col-1">Cost</th>
            <th class="col-2">Max People</th>
            <th class="col-1">Rent Type</th>
            <th class="col-2">Service Type</th>
            <!--        <th class="col-1">standardRoom</th>-->
            <!--        <th class="col-1">otherInfo</th>-->
            <!--        <th class="col-1">poolArea</th>-->
            <!--        <th class="col-1">numberOfFloors</th>-->
            <!--        <th class="col-1">serviceFree</th>-->
            <th class="col-1">Edit</th>
            <th class="col-1">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row,loop: ${facilityPage}">
            <td th:text="${loop.count+facilityPage.number * facilityPage.size}"></td>
            <td><a th:href="@{/service/{id}/view(id=${row.getId()})}" class="one">
                <th:block th:text="${row.getName()}"></th:block>
            </a></td>
            <td th:text="${row.getArea()}"></td>
            <td th:text="${row.getCost()}"></td>
            <td th:text="${row.getMaxPeople()}"></td>
            <td th:text="${row.getRentType().getName()}"></td>
            <td th:text="${row.getFacilityType().getName()}"></td>
            <!--        <td th:text="${row.getStandardRoom()}"></td>-->
            <!--        <td th:text="${row.getOtherInfo()}"></td>-->
            <!--        <td th:text="${row.getPoolArea()}"></td>-->
            <!--        <td th:text="${row.getNumberOfFloors()}"></td>-->
            <!--        <td th:text="${row.getFacilityFree()}"></td>-->
            <td><a th:href="@{/service/{id}/edit(id=${row.getId()})}" class="btn btn-primary">Edit</a></td>
            <!--        <td><a th:href="@{/service/delete(id=${row.getId()})}" class="btn btn-danger">delete</a></td>-->
            <td><!-- Button trigger modal -->
                <!--      th:attr="onclick=|upload('${gallery}')|"-->
                <button th:attr="onclick=|deleteModal(${row.id},'${row.name}')|" type="button" class="btn btn-danger"
                        data-toggle="modal"
                        data-target="#exampleModal">
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">DELETE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/service/delete" method="post">
                    <div class="modal-body">
                        Are you sure delete <span id="nameDelete" class="two"></span>?
                        <!--iddelete la o duoi cho function, name= id de co id xoa-->
                        <input type="hidden" id="idDelete" name="id">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item ">
                <a class="page-link" th:if="${facilityPage.hasPrevious()}"
                   th:href="@{/service/(page=${facilityPage.number - 1},keyword=${keywordVal})}">Previous</a>
            </li>
            <li class="page-item active"
                th:each="i: ${#numbers.sequence(1, facilityPage.totalPages)}">
                <a class="page-link" th:if=" ${facilityPage.number !=i}" th:href="@{'/service/?page=' + ${i - 1}}">[[${i}]]</a>
            </li>
            <li class="page-item">
                <a class="page-link" th:if="${facilityPage.hasNext()}"
                   th:href="@{/service/(page=${facilityPage.number + 1},keyword=${keywordVal})}">Next</a>
            </li>
        </ul>
    </nav>
</div>
<footer th:replace="/views/layout ::footer"></footer>
</body>
<script>
    function deleteModal(id, name) {
        $("#idDelete").val(id);
        $("#nameDelete").text(name);
    }
</script>
</html>


