<br>
<h1>Login</h1>
<form  [formGroup]="loginFormReactive">
<div class="content">
  <div class="form-group">
    <label>Email</label>
    <input formControlName="email" name="email" type="text" class="form-control"
           placeholder="Enter Email">
    <p *ngIf="loginFormReactive.controls.email.hasError('required') && loginFormReactive.controls.email.touched">ko dc bo trong</p>
    <p *ngIf="loginFormReactive.controls.email.hasError('pattern')">sai dinh dang email</p>

    <!--    <p *ngIf="loginFormReactive.controls.email.hasError('inValidEmail')">Email chua dang ki</p>-->

  </div>
  <div class="form-group">
    <label>Password</label>
    <input formControlName="password" name="email" type="text" class="form-control"
           placeholder="Enter Password">
    <p *ngIf="loginFormReactive.controls.password.hasError('required')&& loginFormReactive.controls.password.touched">ko dc bo trong</p>
    <p *ngIf="loginFormReactive.controls.password.hasError('minlength')">mat khau phai tren 6 ki tu</p>

    <!--    <p *ngIf="loginFormReactive.controls.password.hasError('inValidPassword')">Mat khau sai</p>-->
  </div>
  <div>
    <button type="submit" class="btn btn-warning">Login</button>
  </div>
</div>
</form>
