<p class="p1" id="section1">Len</p>
<div id="session1">
  <a href="#section1">
    <img alt="smooth" src="https://cdn-icons-png.flaticon.com/512/992/992703.png" id="arrow">
  </a>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="/home">
    <img src="https://gohola.vn/uploads/2015/02/furama.gif"
         width="50" height="60"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
<!--        <a [routerLink]="['home']">Home</a>-->
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
<!--        <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>-->
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/employee">Employee</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCustomer" role="button" data-toggle="dropdown"
           aria-expanded="false">
          Customer
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownCustomer">
          <a class="dropdown-item" routerLink="/customer-list">Customer List</a>
          <a class="dropdown-item" routerLink="/customer-add">Add Customer</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownService" role="button" data-toggle="dropdown"
           aria-expanded="false">
          Service
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownService">
          <a class="dropdown-item" routerLink="/faciliti-add">Add Service</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-expanded="false">
          Contract
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/contract-list">Contract List</a>
          <a class="dropdown-item" routerLink="/contract-add">Add Contract</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
           aria-expanded="false">
          Setting
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
          <a class="dropdown-item" href="/contract}">User info</a>
          <a class="dropdown-item" href="/contractDetail}">Admin</a>
          <a class="dropdown-item" if="${#request.userPrincipal != null}" href="/logout">Logout</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
