<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/views/layout ::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="/views/layout ::header"></header>
<div class="main">
    <br> <br> <br> <br>
    <p style="color: blue" th:text="${msg}"></p>

    <a th:href="@{/contractDetail/create}" class="btn btn-secondary">Add contractDetail</a>
    <br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="col-1">#</th>
            <th class="col-2">Contract Id</th>
            <th class="col-1">Attach Service Name</th>
            <th class="col-2">Quantity</th>
            <th class="col-1">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row,loop: ${contractDetailPage}">
            <td th:text="${loop.count+contractDetailPage.number * contractDetailPage.size}"></td>
            <td th:text="${row.contract.id}"></td>
            <td th:text="${row.attachFacility.name}"></td>
            <td th:text="${row.quantity}"></td>
            <!--            <td><a th:href="@{/contractDetail/{id}/edit(id=${row.getId()})}" class="btn btn-warning">edit</a></td>-->
            <!--            <td><a th:href="@{/contractDetail/delete(id=${row.getId()})}" class="btn btn-danger">delete</a></td>-->
            <td><!-- Button trigger modal -->
                <!--      th:attr="onclick=|upload('${gallery}')|"-->
                <button th:attr="onclick=|deleteModal(${row.id})|" type="button" class="btn btn-danger"
                        data-toggle="modal"
                        data-target="#exampleModal">
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item ">
                <a class="page-link" th:if="${contractDetailPage.hasPrevious()}"
                   th:href="@{/contractDetail/(page=${contractDetailPage.number - 1})}">Previous</a>
            </li>
            <li class="page-item active"
                th:each="i: ${#numbers.sequence(1, contractDetailPage.totalPages)}">
                <a class="page-link" th:if=" ${contractDetailPage.number !=i}" th:href="@{'/contractDetail/?page=' + ${i - 1}}">[[${i}]]</a>
            </li>
            <li class="page-item">
                <a class="page-link" th:if="${contractDetailPage.hasNext()}"
                   th:href="@{/contractDetail/(page=${contractDetailPage.number + 1})}">Next</a>
            </li>
        </ul>
    </nav>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">DELETE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/contractDetail/delete" method="post">
                <div class="modal-body">
                    Are you sure delete?
                    <!--iddelete la o duoi cho function, name= id de co id xoa-->
                    <input type="hidden" id="idDelete" name="id">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="/views/layout ::footer"></footer>
</body>
<script>
    function deleteModal(id, name) {
        $("#idDelete").val(id);
    }
</script>
</html>


