<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron jumbotron-fluid" style="background-color: darkorange">
    <div class="container">
        <h1 class="display-4">Cửa Hàng Điện Thoại</h1>
        <p class="lead">TechCare - Công Ty TNHH MTV Quốc Tế Phúc Thành Đạt · Cửa hàng bán đồ điện tử
            133 Hàm Nghi · 0236 3663 333
            Đang mở cửa ⋅ Đóng cửa lúc 20:00
            Mua sắm tại cửa hàng·
            Nhận tại cửa hàng·
            Giao hàng</p>
    </div>
</div>

<div class="container">
    <!--    card-->
    <div class="row">
        <div class="col-md-6 col-lg-3" th:each="row : ${products}" >
            <img th:src="${row.image}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title" th:text="${row.name}"></h5>
                <p class="card-text" th:text="${row.description}"></p>
                <p class="card-text" th:text="${row.price}"></p>
                <a th:href="@{/shop/add/{id}(id=${row.getId()})}" class="btn btn-primary">Add to cart</a>
<!--                <a th:href="@{/shop/add/__${row.getId()}__}" class="btn btn-primary">Add to cart</a>-->
            </div>
        </div>
    </div>
</div>
</body>
</html>