<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" routerLink="/home">Trang chủ</a>
        <a class="breadcrumb-item text-dark" routerLink="/book/management">Quản lí sách</a>
        <span class="breadcrumb-item active">Chỉnh sửa sách</span>
      </nav>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<h1>Chỉnh sửa sách</h1>

<div class="container" >
  <form [formGroup]="formBook" (ngSubmit)="editBook()">
    <div>
      <label for="bookName">Tên sách:</label>
      <input class="form-control" id="bookName" formControlName="bookName" type="text" placeholder="Nhập tên sách">
      <p *ngIf="formBook.controls.bookName.hasError('required')&&formBook.controls.bookName.touched">Bạn quên nhập tên sách</p>

    </div>
    <div>
      <label for="description">Mô tả:</label>
      <input class="form-control" id="description" formControlName="description" type="text" placeholder="Nhập mô tả">
      <p *ngIf="formBook.controls.description.hasError('required')&&formBook.controls.description.touched">Bạn quên nhập mô tả</p>

    </div>
    <div>
      <label for="price">Giá cả:</label>
      <input class="form-control" id="price" formControlName="price" type="number" placeholder="Nhập giá cả">
      <p *ngIf="formBook.controls.price.hasError('required')&&formBook.controls.price.touched">Bạn quên nhập giá cả</p>

    </div>

    <div>
      <label for="image">Chọn ảnh:</label>


      <input id="image" hidden (change)="selectFile($event); onFileSelected($event)" #fileInput type="file">
      <img *ngIf="!editImageState" [src]="formBook.get('image').value" (click)="fileInput.click()" width="20%"
           height="auto" alt="">
      <img class="form-control mt-2" [src]="url" *ngIf="editImageState" (click)="fileInput.click()" width="auto"
           height="auto" alt="">
      <div class="form-text" *ngIf="checkImgSize == true">Kích Thước Ảnh Quá Lớn.</div>
      <div class="form-text" *ngIf="checkImg == true && checkImgSize == false && regexImageUrl == false">
        Vui Lòng Không Để Trống.
      </div>
      <div class="form-text" *ngIf="regexImageUrl == true && checkImgSize == false">
        Chỉ Chấp Nhận Ảnh Có Định Dạng .jpg / .JPG.
      </div>
      <p *ngIf="formBook.controls.image.hasError('required')&&formBook.controls.image.touched">Bạn quên nhập Ảnh</p>

    </div>

    <div>
      <label for="pageNumber">Số trang:</label>
      <input class="form-control" id="pageNumber" formControlName="pageNumber" type="number" placeholder="Nhập số trang">
      <p *ngIf="formBook.controls.pageNumber.hasError('required')&&formBook.controls.pageNumber.touched">Bạn quên nhập số trang</p>

    </div>
    <div>
      <label for="authors">Tác giả:</label>
      <input class="form-control" id="authors" formControlName="authors" type="text" placeholder="Nhập tác giả">
      <p *ngIf="formBook.controls.authors.hasError('required')&&formBook.controls.authors.touched">Bạn quên nhập tác giả</p>

    </div>

    <div>
      <label for="publishingHouse">Nhà xuất bản:</label>
      <input class="form-control" id="publishingHouse" formControlName="publishingHouse" type="text"
             placeholder="Nhập nhà xuất bản">
      <p *ngIf="formBook.controls.publishingHouse.hasError('required')&&formBook.controls.publishingHouse.touched">Bạn quên nhập nhà xuất bản</p>

    </div>

    <div>
      <label for="quantity">Số lượng:</label>
      <input class="form-control" id="quantity" formControlName="quantity" type="number"
             placeholder="Nhập số lượng">
      <p *ngIf="formBook.controls.quantity.hasError('required')&&formBook.controls.quantity.touched">Bạn quên nhập số lượng</p>

    </div>

    <div>
      <label for="category">Loại sách:</label>
      <select formControlName="category" class="form-control" name="" id="category"
              [compareWith]="compareCategory">
        <option value="">-- Chọn loại sách --</option>
        <option *ngFor="let category of categoryArray" [ngValue]="category" >{{category.name}}</option>
      </select>
      <p *ngIf="formBook.controls.category.hasError('required')&&formBook.controls.category.touched">Bạn quên nhập loại sách</p>

    </div>

    <div>
      <button type="submit" class="btn btn-warning">Chỉnh sửa</button>
    </div>
  </form>
</div>
