<!--<br><br><br><br>-->
<!--<h1>Information Customer</h1>-->
<!--<div class="content">-->
<!--  <form action="/customer/update" object="${customer} "-->
<!--        method="POST" novalidate="novalidate">-->
<!--    <input type="hidden" field="*{id}"/>-->
<!--    <div class="form-group">-->
<!--      <label>Name</label>-->
<!--      <input type="text" class="form-control" field="*{name}"-->
<!--             placeholder="Enter name">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>Date Of Birth</label>-->
<!--      <input type="date" class="form-control" field="*{dateOfBirth}"-->
<!--             placeholder="Enter date of birth">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>Gender</label>-->
<!--      <select field="*{gender}"  class="form-control">-->
<!--        <option value="0">Nam</option>-->
<!--        <option value="1">Nữ</option>-->
<!--      </select>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>ID Card</label>-->
<!--      <input type="number" class="form-control" field="*{idCard}"-->
<!--             placeholder="Enter id card">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>Phone Number</label>-->
<!--      <input type="number" class="form-control" field="*{phoneNumber}"-->
<!--             placeholder="Enter Phone Number">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>Email</label>-->
<!--      <input type="text" class="form-control" field="*{email}"-->
<!--             placeholder="Enter email">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>Adrress</label>-->
<!--      <input type="text" class="form-control" field="*{address}"-->
<!--             placeholder="Enter address">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>customer Type</label>-->
<!--      <select name="" class="form-control">-->
<!--        <option value="1">Diamond</option>-->
<!--        <option value="2">Platinium</option>-->
<!--        <option value="3">Gold</option>-->
<!--        <option value="4">Silver</option>-->
<!--        <option value="5">Member</option>-->
<!--      </select>-->
<!--      &lt;!&ndash;            <select class="form-control" field="*{customerType}">&ndash;&gt;-->
<!--      &lt;!&ndash;                <option each="customerType : ${customerTypeList}" value="${customerType.id}"&ndash;&gt;-->
<!--      &lt;!&ndash;                        text="${customerType.name}"></option>&ndash;&gt;-->
<!--      &lt;!&ndash;            </select>&ndash;&gt;-->
<!--    </div>-->
<!--    <div>-->
<!--      <a href="customer-list.html" class="btn btn-dark">-->
<!--        Back to customer list-->
<!--      </a>-->
<!--      <button type="submit" class="btn btn-warning">Edit</button>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->
