<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
<h3>Service</h3>
<p>
    <a th:href="@{/service/create}">Add Service</a>
</p>
<p style="color: red" th:text="${mess}"></p>
<form>
    <input type="text" name="keyword">
    <input type="submit" value="search">
</form>

<table class="table table-hover table-dark">
    <thead>
    <tr>
        <th class="col-1">name</th>
        <th class="col-1">area</th>
        <th class="col-1">cost</th>
        <th class="col-1">maxPeople</th>
        <th class="col-1">rentType</th>
        <th class="col-1">serviceType</th>
        <th class="col-2">standardRoom</th>
        <th class="col-1">infoOther</th>
        <th class="col-1">poolArea</th>
        <th class="col-1">numberOfFloors</th>
        <th class="col-1">Edit</th>
        <th class="col-1">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${servicePage}">
        <td th:text="${row.getId()}"></td>
        <td><a th:href="@{/service/{id}/view(id=${row.getId()})}">
            <th:block th:text="${row.getName()}"></th:block>
        </a></td>
        <td th:text="${row.getArea()}"></td>
        <td th:text="${row.getCost()}"></td>
        <td th:text="${row.getMaxPeople()}"></td>
        <td th:text="${row.getRentType().getName()}"></td>
        <td th:text="${row.getServiceType().getName()}"></td>
        <td th:text="${row.getStandardRoom()}"></td>
        <td th:text="${row.getInfoOther()}"></td>
        <td th:text="${row.getPoolArea()}"></td>
        <td th:text="${row.getNumberOfFloors()}"></td>
        <td><a th:href="@{#}">edit</a></td>
        <td><a th:href="@{/service/delete(id=${row.getId()})}">delete</a></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:if="${servicePage.hasPrevious()}"
       th:href="@{/service/(page=${servicePage.number - 1})}">
        Previous
    </a>
    <span th:text="${servicePage.number + 1}"></span>
    /
    <span th:text="${servicePage.totalPages}"></span>
    <a th:if="${servicePage.hasNext()}"
       th:href="@{/service/(page=${servicePage.number + 1})}">
        Next
    </a>
</div>
</body>
</html>

