a, th, td,h1 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
  color: white;
}

label {
  margin: 5px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: white;
}

.container-table100 {
  max-width: 1366px;
  margin: 0 auto;
  min-height: 70vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 33px 100px;
}

.wrap-table100 {
  width: 100%;
}

table thead tr {
  height: 60px;
  background: #6c5c48;

}

.table100-head th {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: 600;
}

.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../../../assets/img/hieucd_image3.jpg)
}

table {
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.table_wrapper {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-image: url(../../../assets/img/hieucd_down.png);
  background-size: 30px;
  padding-right: 30px;
}
