<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" routerLink="/home">Trang chủ</a>
        <a class="breadcrumb-item text-dark" routerLink="/book/management">Quản lí sách</a>
        <span class="breadcrumb-item active">Thêm mới sách</span>
      </nav>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<h1>Thêm sách</h1>

<div class="container">
  <form [formGroup]="formBook" (ngSubmit)="createBook()">
    <div>
      <label for="bookName">Tên sách:</label>
      <input class="form-control" id="bookName" formControlName="bookName" type="text" placeholder="Nhập ên sách">
    </div>
    <div>
      <label for="description">Mô tả:</label>
      <input class="form-control" id="description" formControlName="description" type="text" placeholder="Nhập mo ta">
    </div>
    <div>
      <label for="price">Giá cả:</label>
      <input class="form-control" id="price" formControlName="price" type="number" placeholder="Nhập gia ca">
    </div>
    <div>
      <label for="image">Chọn ảnh:</label>
      <input class="form-control" id="image" formControlName="image" type="file">
    </div>


    <div>
      <label for="pageNumber">Số trang:</label>
      <input class="form-control" id="pageNumber" formControlName="pageNumber" type="number"
             placeholder="Nhập so trang">
    </div>
    <div>
      <label for="authors">Tác giả:</label>
      <input class="form-control" id="authors" formControlName="authors" type="text" placeholder="Nhập tac gia">
    </div>

    <div>
      <label for="publishingHouse">Nhà xuất bản:</label>
      <input class="form-control" id="publishingHouse" formControlName="publishingHouse" type="text"
             placeholder="Nhập nha xuat ban">
    </div>

    <div>
      <label for="category">Loại sách:</label>
      <select formControlName="category" class="form-control" name="" id="category">
        <option *ngFor="let category of categoryArray" [ngValue]="category">{{category.name}}</option>
      </select>
    </div>

    <div>
      <button type="submit">Them moi</button>
    </div>
  </form>
</div>


