<div class="main">
  <br> <br> <br>

    <a href="customer-add.html" class="btn btn-secondary">Add customer</a>
  <br>
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="col-1">#</th>
      <th class="col-2">Name</th>
      <th class="col-2">Date Of Birth</th>
      <th class="col-2">Gender</th>
      <!--        <th class="col-1">ID Card</th>-->
      <!--        <th class="col-1">Phone Number</th>-->
      <!--        <th class="col-1">Email</th>-->
      <!--        <th class="col-1">Address</th>-->
      <th class="col-2">Customer Type</th>
      <th class="col-1">Edit</th>
      <th class="col-2">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Nguyễn Thị Hào</td>
      <td>1995-12-09</td>
      <td>Nữ</td>
      <td>Diamond</td>
      <td> <a href="#" class="btn btn-warning">
        <img src="https://cdn-icons.flaticon.com/png/128/2356/premium/2356780.png?token=exp=1657879892~hmac=1782568f47bf441be3f6187bf646f891"
             alt="" height="20">edit</a></td>
      <td><a type="button" class="btn btn-danger"
             data-toggle="modal"
             data-target="#exampleModal"><img src="https://cdn-icons-png.flaticon.com/128/3221/3221845.png" alt="" height="20">
        delete
      </a></td>
    </tr>
    <tr>
      <td>3</td>
      <td>Trần Đại Danh</td>
      <td>1970-11-07</td>
      <td>Nam</td>
      <td>Gold</td>
      <td> <a href="#" class="btn btn-warning">
        <img src="https://cdn-icons.flaticon.com/png/128/2356/premium/2356780.png?token=exp=1657879892~hmac=1782568f47bf441be3f6187bf646f891"
             alt="" height="20">edit</a></td>
      <td><a type="button" class="btn btn-danger"
             data-toggle="modal"
             data-target="#exampleModal"><img src="https://cdn-icons-png.flaticon.com/128/3221/3221845.png" alt="" height="20">
        delete
      </a></td>
    </tr>
    <tr>
      <td>4</td>
      <td>Tôn Nữ Mộc Châu</td>
      <td>2005-12-06</td>
      <td>Nam</td>
      <td>Diamond</td>
      <td> <a href="#" class="btn btn-warning">
        <img src="https://cdn-icons.flaticon.com/png/128/2356/premium/2356780.png?token=exp=1657879892~hmac=1782568f47bf441be3f6187bf646f891"
             alt="" height="20">edit</a></td>
      <td><a type="button" class="btn btn-danger"
             data-toggle="modal"
             data-target="#exampleModal"><img src="https://cdn-icons-png.flaticon.com/128/3221/3221845.png" alt="" height="20">
        delete
      </a></td>
    </tr>
    <tr>
      <td>4</td>
      <td>Nguyễn Mỹ Kim</td>
      <td>1984-04-08</td>
      <td>Nữ</td>
      <td>Platinium</td>
      <td> <a href="#" class="btn btn-warning">
        <img src="https://cdn-icons.flaticon.com/png/128/2356/premium/2356780.png?token=exp=1657879892~hmac=1782568f47bf441be3f6187bf646f891"
             alt="" height="20">edit</a></td>
      <td><a type="button" class="btn btn-danger"
             data-toggle="modal"
             data-target="#exampleModal"><img src="https://cdn-icons-png.flaticon.com/128/3221/3221845.png" alt="" height="20">
        delete
      </a></td>
    </tr>
    </tbody>
  </table>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">DELETE</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/customer/delete" method="post">
          <div class="modal-body">
            Are you sure delete <span id="nameDelete" class="two"></span>?
            <!--iddelete la o duoi cho function, name= id de co id xoa-->
            <input type="hidden" id="idDelete" name="id">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--    <nav aria-label="...">-->
  <!--        <ul class="pagination">-->
  <!--            <li class="page-item ">-->
  <!--                <a class="page-link" if="${customerPage.hasPrevious()}"-->
  <!--                   href="/customer/(page=${customerPage.number - 1},keyword=${keywordVal})">Previous</a>-->
  <!--            </li>-->
  <!--            <li class="page-item active"-->
  <!--                each="i: ${#numbers.sequence(1, customerPage.totalPages)}">-->
  <!--                <a class="page-link" if=" ${customerPage.number !=i}" href="'/customer/?page=' + ${i - 1}">[[${i}]]</a>-->
  <!--            </li>-->
  <!--            <li class="page-item">-->
  <!--                <a class="page-link" if="${customerPage.hasNext()}"-->
  <!--                   href="/customer/(page=${customerPage.number + 1},keyword=${keywordVal})">Next</a>-->
  <!--            </li>-->
  <!--        </ul>-->
  <!--    </nav>-->
</div>
