<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Borrow book</h1>
<form action="/book/saveBorrowBook" method="post" th:object="${cardBorrow}">
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default0">Code Book</span>
        <span class="input-group-text" th:text="*{code}"></span>
        <input type="hidden" th:field="*{code}" class="form-control" aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-default0" required>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary position-relative">
            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">borrow</span>
                    </span>
        </button>
    </div>
</form>
</body>
</html>