<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">
    <style>
        .tm-footer-links li {
            list-style: none;
            margin-bottom: 5px;
        }

        .tm-footer-links li a {
            color: #999999;
        }

        .tm-footer-links li a:hover {
            color: #009999;
        }

        .tm-text-primary {
            color: #009999;
        }

        a.tm-text-primary:hover {
            color: #666666;
        }

        .tm-bg-gray {
            background-color: #EEEEEE;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/book/">List book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/borrow_book/">List Borrow Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/borrow_book/give_back">Give Book Back</a>
                </li>
            </ul>
        </div>
    </nav>
<h1>Book</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Name Book</th>
            <th scope="col">Name author</th>
            <th scope="col">Quantity Total</th>
            <th scope="col">Borrowed Total</th>
            <th scope="col">Remain Total</th>
            <th scope="col">Option</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book, hong : ${bookList}">
            <td th:text="${hong.count}"></td>
            <td><a class="text-decoration-none" th:href="@{/detail(id=${book.id})}">
                <th:block th:text="${book.id}"></th:block>
            </a></td>
            <td><a class="text-decoration-none" th:href="@{/detail(id=${book.id})}">
                <th:block th:text="${book.name}"></th:block>
            </a></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.quantityTotal}"></td>
            <td th:text="${book.borrowedTotal}"></td>
            <td th:text="${book.remainTotal}"></td>
            <td>
                <button class="btn btn-primary"><a class="text-decoration-none text-warning" th:href="@{/book/borrow(id=${book.id})}">Borrow</a></button>
            </td>
        </tr>
        </tbody>
    </table>

</body>

</html>