<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>View book</h3>
<p>
    <a th:href="@{/book}">
        Back to book list
    </a>
</p>
<div id="detail">
    <div class="blogDetail">
        <label>id:</label>
        <label th:text="${book.id}"></label>
    </div>
    <div class="blogDetail">
        <label>name:</label>
        <label th:text="${book.name}"></label>
    </div>
    <div class="blogDetail">
        <label>author:</label>
        <label th:text="${book.author}"></label>
    </div>
    <div class="blogDetail">
        <label>quantity:</label>
        <label th:text="${book.quantity}"></label>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>