<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout ::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Add Product</h3>
<p>
    <a href="/product/">Back List</a>
</p>
<div id="form">
    <form th:action="@{/product/create}" th:object="${product}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id1}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name1}"/>
        </div>
        <div>
            <label>Info</label>
            <input type="text" th:field="*{info1}"/>
        </div>
        <div>
            <label>Quantity</label>
            <input type="text" th:field="*{quantity1}"/>
        </div>
        <div>
            <label>Made</label>
            <input type="text" th:field="*{made1}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="/layout ::footer"></footer>
</body>
</html>